<a href="https://colab.research.google.com/github/relfarizi/Final_Project/blob/master/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Library

In [0]:
# Data

from google.colab import files
import pandas as pd

## Data

In [0]:
#data = files.upload()

In [0]:
dataset = pd.read_csv("dataset_aktif.csv",sep=";")
dataset.describe()

       Standard Value
count      111.000000
mean      1620.396396
std       3417.533545
min          1.000000
25%         40.500000
50%        294.000000
75%       1390.000000
max      20000.000000

## Probability Activity

In [0]:
mol_act = dataset.iloc[:,[0,3]]
mol_act
n = len(mol_act)
p_avg = 1/n
mol_act_dict = {}
sum_act = 1
for molekul in mol_act.values :
  sum_act  += molekul[1]

for molekul in mol_act.values :
  act = (molekul[1]*p_avg*n)/sum_act
  act = round(act,4)
  mol_act_dict[molekul[0]] = [molekul[1],act]
  
print(mol_act_dict)

{'CHEMBL3781168': [10000, 0.0556], 'CHEMBL1421': [8, 0.0], 'CHEMBL3781721': [66, 0.0004], 'CHEMBL3780586': [15, 0.0001], 'CHEMBL3780219': [7, 0.0], 'CHEMBL3781013': [570, 0.0032], 'CHEMBL3781859': [1200, 0.0067], 'CHEMBL3781577': [1849, 0.0103], 'CHEMBL255863': [25, 0.0001], 'CHEMBL3780622': [6, 0.0], 'CHEMBL3781512': [15, 0.0001], 'CHEMBL3780441': [42, 0.0002], 'CHEMBL3780983': [5, 0.0], 'CHEMBL3780835': [1290, 0.0072], 'CHEMBL3781199': [5200, 0.0289], 'CHEMBL1214141': [14, 0.0001], 'CHEMBL3780326': [100, 0.0006], 'CHEMBL2403816': [4300, 0.0239], 'CHEMBL3780177': [1380, 0.0077], 'CHEMBL3781685': [2043, 0.0114], 'CHEMBL3780940': [590, 0.0033], 'CHEMBL3780377': [983, 0.0055], 'CHEMBL2403814': [4100, 0.0228], 'CHEMBL3781253': [50, 0.0003], 'CHEMBL3780021': [20, 0.0001], 'CHEMBL3780040': [31, 0.0002], 'CHEMBL3781590': [1300, 0.0072], 'CHEMBL3780544': [55, 0.0003], 'CHEMBL3780370': [1100, 0.0061], 'CHEMBL3780190': [2900, 0.0161], 'CHEMBL3781353': [628, 0.0035], 'CHEMBL3780628': [124, 0.0007], 'CHEMBL3781900': [36, 0.0002], 'CHEMBL3780453': [1500, 0.0083], 'CHEMBL3781678': [4240, 0.0236], 'CHEMBL1336': [7300, 0.0406], 'CHEMBL941': [659, 0.0037], 'CHEMBL3781090': [126, 0.0007], 'CHEMBL3781789': [96, 0.0005], 'CHEMBL3780978': [46, 0.0003], 'CHEMBL3593290': [190, 0.0011], 'CHEMBL3780101': [294, 0.0016], 'CHEMBL3781173': [67, 0.0004], 'CHEMBL3780255': [10000, 0.0556], 'CHEMBL3781278': [1600, 0.0089], 'CHEMBL3780222': [670, 0.0037], 'CHEMBL3780478': [1100, 0.0061], 'CHEMBL3781644': [132, 0.0007], 'CHEMBL576982': [20000, 0.1112], 'CHEMBL608533': [20000, 0.1112]}

    Molecule ChEMBL ID Standard Type Standard Relation  Standard Value
0        CHEMBL3781168          GI50               '>'           10000
1           CHEMBL1421          GI50               '='               3
2        CHEMBL3781721          GI50               '='              61
3        CHEMBL3780586          GI50               '='               9
4        CHEMBL3780219          GI50               '='             140
..                 ...           ...               ...             ...
106         CHEMBL1421          GI50               '='              14
107         CHEMBL1421          GI50               '='               3
108         CHEMBL1421          GI50               '='               1
109         CHEMBL1421          GI50               '='               8
110          CHEMBL941          GI50               '='             659

[111 rows x 4 columns]

## For git

In [15]:
#!git init

#!git config --global user.name “relfarizi”

#!git remote add origin https://github.com/relfarizi/Final_Project.git

#!git add .

#!git commit -m "Probability Activity"

#!git push

#!git status

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@9e96fd7dc24f.(none)')